
/***body***/

body {
    overflow-x: hidden;
    min-height: 100vh;
}
/***Header***/
header {

    background-color: #333;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 15%;
    z-index: 10;

}

header #logo {

    float: left;
    margin-left: 10%;
    margin-top: 25px;
    color: #fff;
}

h1{
    margin: 0;
}

h4{
    top: 0;
    margin: 0;
}


header nav {

    float: right;
    margin-right: 10%;
    padding-top: 30px;
}

header nav ul {

    margin: 0;
    padding: 0;
}

header nav ul li {

    display: inline-block;
    line-height: 20px;
}

 header li a {
    display: block;
    text-decoration: none;
    color: #555;
    text-align: center;
    background-color: #000;
    padding: 16px 15px;
    margin-bottom: 0;
}

/***Div***/

.img-fluid {

    display: block;
    margin-left: 70px;
    margin-top: 15%;
}

/*** image card****/

#carddeck {

    margin-top: 20px;
    margin-right:6%;
    margin-left: 5%;
}

#lessymbiots {

    text-decoration: underline;
}

#card2 {

    margin-top: 30px;
    border:hidden;
    margin-left: 10%;
    margin-right: 7%;
}
#histoire{

    font-size: small;
}

/*** FOOTER ***/

footer {

    margin-top: 20px;
    width: 100%;
}


.containerfooter{

    background-color: #555;
}





